{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/play_off.css">
  <link rel="stylesheet" href="/css/menu.css">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  {{ include('competition_menu.html.twig') }}
  {% for result in results %}
    <div>
      <span class="team team-1">{{ result.getTeam1.getName() }} ({{ result.getTeam1.getDivision.getName() }})</span>
      <span class="score">{{ result.getScore1() }}:{{ result.getScore2() }}</span>
      <span class="team team-2">{{ result.getTeam2.getName() }} ({{ result.getTeam2.getDivision.getName() }})</span>
    </div>
  {% endfor %}
{% endblock %}