{% extends 'base.html.twig' %}

{% block title %}GameResult{% endblock %}

{% block body %}
    <h1>GameResult</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game_result.id }}</td>
            </tr>
            <tr>
                <th>Score_1</th>
                <td>{{ game_result.score1 }}</td>
            </tr>
            <tr>
                <th>Score_2</th>
                <td>{{ game_result.score2 }}</td>
            </tr>
            <tr>
                <th>Stage</th>
                <td>{{ game_result.stage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_result_index') }}">back to list</a>

    <a href="{{ path('game_result_edit', {'id': game_result.id}) }}">edit</a>

    {{ include('game_result/_delete_form.html.twig') }}
{% endblock %}
